- content_for :side_bar do
  %h1
    Places to go
  .list-group
    %a.list-group-item{ href: profile_path, class: current_page?(controller: 'profiles', action: 'show') ? 'active' : '' }
      Your Profile
    %a.list-group-item{ href: edit_profile_path, class: (current_page?(controller: 'profiles', action: 'edit') || current_page?(controller: 'profiles', action: 'edit')) ? 'active' : ''}
      Edit Profile
    %a.list-group-item{ href: followers_path, class: current_page?(controller: 'followers', action: 'show') ? 'active' : ''}
      Your Followers
    %a.list-group-item{ href: followings_path, class: current_page?(controller: 'followings', action: 'show') ? 'active' : ''}
      People you Follow
    %a.list-group-item{ href: favorites_path, class: current_page?(controller: 'favorites', action: 'show') ? 'active' : ''}
      Favorite Tweets
