:plain
  $usernameQueryResults = $('#username-query-results');
  $usernameQueryResults.popover({
    html: true,
    content: '#{escape_javascript render(partial: 'users/username_query', collection: @users, as: :user)}',
    placement: 'bottom',
    trigger: 'manual'
  });
  $usernameQueryResults.popover('show');
