- if flash[:tweet_errors]
  .alert.alert-danger.alert-dismissable
    %button.close{ type: 'button', data: { dismiss: 'alert' } }
      x
    %strong
      Oops!
    - flash[:tweet_errors].each do |error_message|
      .error-message
        = error_message

= form_for :tweet, url: tweets_path, html: { class: 'form-horizontal' } do |f|
  %fieldset
    %div
      = f.label :content, 'What do you want to say', class: 'control-label'
    %div
      = f.text_area :content, class: 'form-control'
    %div
      %button.btn.btn-primary.pull-right{ type: 'submit' }
        Submit
