- if signed_in?
  %ul.nav.nav-tabs
    %li.active
      - if tweet.favorited_by_current_user
        = link_to 'Unfavorite', tweet_favorite_path( tweet.id ), method: :delete
      - else
        = link_to 'Favorite', tweet_favorite_path( tweet.id ), method: :post
.well
  %blockquote
    %p
      = mention_link_content( tweet )
    %small
      - if signed_in?
        = link_to tweet.author.username, user_path( tweet.author.username )
      - else
        = tweet.author.username
