%ul.nav.nav-tabs
  %li.active
    - if user.following_current_user
      = link_to "Unfollow", user_followings_path( user.username ), method: :delete
    - else
      = link_to "Follow", user_followings_path( user.username ), method: :post
.well
  %h3
    %a{ href: user_path( user.username ) }
      = user.username
