- if @user.try(:errors) && !@user.errors.empty?
  .alert.alert-danger.alert-dismissable
    %button.close{ type: 'button', data: { dismiss: 'alert' } }
      x
    %strong
      Oops!
    - @user.errors.full_messages.each do |error_message|
      .error-message
        = error_message
= form_for (current_user || :user), url: form_post_path, html: { class: 'form-horizontal' } do |f|
  %fieldset
    .form-group
      = f.text_field :username, placeholder: 'Username', class: 'form-control'
    .form-group
      = f.text_field :email, placeholder: 'Email', class: 'form-control'
    .form-group
      = f.password_field :password, placeholder: 'Password', class: 'form-control'
    .form-group
      = f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control'
    .form-group
      %button.btn.btn-primary{ type: 'submit' }
        Submit
