- content_for :side_bar do
  %h1 Create an Account
  .well
    = render partial: 'form', locals: { form_post_path: users_path }

%h1 What's Happening
= render partial: 'tweets/timeline', collection: @recent_tweets, as: :tweet
