- content_for :side_bar do
  - unless current_user == @user
    %h1
      Actions to take
    .list-group
      - if @following
        = link_to "Unfollow #{@user.username}", user_followings_path( @user.username ), method: :delete, class: 'list-group-item'
      - else
        = link_to "Follow #{@user.username}", user_followings_path( @user.username ), method: :post, class: 'list-group-item'

%h1
  = @user.username

= render partial: 'tweets/timeline', collection: @recent_tweets, as: :tweet
