%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#navbar' }, aria: { controls: 'navbar' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: root_path }
        Twitter Clone
    #navbar.navbar-collapse.collapse
      - if signed_in?
        %a.btn.btn-success.pull-right{ href: sign_out_path }
          Sign out
        %a.btn.btn-primary.pull-right{ href: profile_path }
          Profile
        %a.btn.btn-primary.pull-right{ href: timeline_path }
          Timeline
        = form_for :username_search, url: username_searches_path, remote: true, html: {class: 'navbar-form navbar-right'} do
          #username-query-results.form-group
            %input.form-control{ autocomplete: 'off', type: 'text', placeholder: 'Search', name: 'query' }

      - else
        = form_for :session, url: sessions_path, html: { class: 'navbar-form navbar-right' } do
          %input{ type: 'hidden', name: 'authenticity_token', value: form_authenticity_token }
          .form-group
            %input.form-control{ type: 'text', placeholder: 'Email or Username', name: 'email_or_username' }
          .form-group
            %input.form-control{ type: 'password', placeholder: 'Password', name: 'password' }
          %button.btn.btn-success{ type: 'submit' }
            Sign in


